.linkItemBox {
    width: 48%;
    margin-top: 15px;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    transition: 0.2s ease-out;
    max-height: 350px;
}

.linkItemBox:hover {
    transform: scale(0.99);
}

.itemBoxWrapp {
    width: 100%;
    height: 100%;
}

.pictureWrapp {
    width: 100%;
    height: 268px;
    background-color: black;
}

.picture {
    width: 100%;
    height: 100%;
    background-size: contain;
}

.tittleBox {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

/*////////// RESPONSIVE /////////*/
@media only screen and (max-width: 768px) {
    .tittleBox h2 {
        font-size: 17px;
    }
}

@media only screen and (max-width: 575px) {
    .linkItemBox {
        width: 99%;
    }

    .tittleBox h2 {
        font-size: 15px;
    }
}

@media only screen and (max-width: 399px) {
    .linkItemBox {
        width: 99%;
        height: 265px;
    }

    .pictureWrapp {
        width: 100%;
        height: 215px;
        background-color: black;
    }

    .picture {
        width: 100%;
        height: 100%;
        background-size: contain;
    }

    .tittleBox {
        height: 50px;
    }
}