.detailWrapp {
    width: 100%;
    height: 50%;
    overflow: auto;
}

.tittleDetail {
    padding-top: 10px;
    font-size: 32px;
    display: flex;
    align-items: center;
}

.innerDetail {
    height: 77%;
    overflow: auto;
}

.descriptionDetail {
    line-height: 1.2;
    padding: 10px 6px;
}

@media only screen and (max-width:555px) {
    .tittleDetail {
        font-size: 22px;
    }

    .innerDetail {
        margin-top: 10px;
    }
}