.singleDataWrapp{
    width:  52vw;
    height: 100vh;
    background-color: white;
    padding: 0 30px;
}

/*////////// RESPONSIVE /////////*/

@media only screen and (max-width:777px) {
    .singleDataWrapp{
        width: 99vw; 
        padding: 0 20px;

    }
  }